<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Estado de Evidencias</title>
    {% load static %}
   
    <link rel="stylesheet" href="{% static 'CSS/panel_evidencias.css' %}"> <!-- panel personalizado -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style> /* ajustes rápidos responsive */
        .container { max-width:1100px; margin:20px auto; padding:12px; }
    </style>
</head>
<body>
</script>

</body>
</html>